*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.heading{
    color: rgb(91, 155, 213);
    font-size: 30px;  
    text-align: left; 
}

h3{
    color: rgb(91, 155, 213);
    font-size: 14px;  
    text-align: left; 
}

hr{
    color: black;

}

a:link{
    color:black;
    

}
a:visited{
    color:black;
    
}
a:active{
    color:cornflowerblue;
    
}
.link{
    text-align:center;
    font-size: 30px;
}


